[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
boto3 = "*"
ulid-py = "*"

[dev-packages]
moto = "*"
pytest = "*"
ipykernel = "*"
ipython = "*"
boto3-stubs = {extras = ["dynamodb", "s3"], version = "*"}

[requires]
python_version = "3.12"
